.App {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--color-primary-dark);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

main {
  flex-grow: 10;
  padding: 0px 1rem;
}

.footer {
  padding: 2rem 1rem;
}